
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>django_tables2_chart_visualize</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    </head>
    <body>
		<ul class='mt-3'>
			<li>
				<a href="{% url 'add' %}">
					<span>キャラクター登録</span>
				</a>
			</li>
			<li>
				<a href="{% url 'list' %}">
					<span>キャラクター一覧</span>
				</a>
			</li>
		</ul>
        <!-- ウィンドウサイズに合わせて枠の大きさを変える -->
        <div class="container-fluid">
            <!-- 水平方向の横スクロールバーを加える -->
            <div class="table-responsive col-auto">
                <!-- 縞ストライプで見やすくする -->
                <table class="table table-striped">
             
                    {% render_table table %}
                </table>
            </div>
        </div>
    </body>
</html>